<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="text-muted">Cambridge University Biological Society is dedicated to inviting the finest speakers and organising events for our community. Life membership can be purchased for £15 at any BioSoc event for access to speaker formals, talks recordings, and members-only events. </p>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-microphone-stand fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Talks</h4>
                    <p class="text-muted">We host talks every other Monday in Michaelmas and Lent, and 1-2 in Easter, on various topics in biology, with speakers coming in from across the world. This year we are also hosting some panels in collaboration with other societies!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wine-glass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Socials</h4>
                    <p class="text-muted">We host regular social events, like game sessions and formals, in collaboration, or with our speakers!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Others</h4>
                    <p class="text-muted">This year, we will also be collaborating with the Oxford and Imperial BioSocs to reinstate Varsity Life Sciences, a poster sharing session for undergraduates. Stay tuned!</p>
                </div>
            </div>
        </div>
    </section>