<!-- Commmittee Section -->
    <section id="comm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Committee</h2>
                    <h3 class="section-subheading text-muted">Meet the current team!</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-md-4 col-sm-6">
                    <div class="comm-member">
                        <img src="img/comm/{{ member.pic }}" class="img-responsive img-circle" alt="" width="250px" height="250px">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}<br>{{ member.college }}<br>{{ member.year}} Year {{ member.subject}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>