<!-- Membership -->
    <section id="membership" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Membership</h2>
                    <h3 class="section-subheading text-muted">£15 for a life membership, or sign up to the mailing list for free!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-8 center-block text-center">
                    <a href="https://forms.gle/oDY437Bp998b9CzF7" class="btn btn-xl">Join (crsid)</a>
                    <br>
                </div>
                <div class="col-md-4 col-sm-8 center-block text-center">
                    <a href="https://forms.gle/aVGXd3VSe4EXMg3J8" class="btn btn-xl">Join (external)</a>
                    <br>
                </div>
                <div class="col-md-4 col-sm-8 center-block text-center">
                    <a href="https://forms.gle/P37p7FYQVBJF7mEV9" class="btn btn-xl">Mailing list</a>
                    <br>
                </div>
            </div>
        </div>
    </section>